@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Styles */

body {
  @apply bg-neutral-200 text-neutral-950;
}

h1 {
  @apply font-medium;
}

/* Custom Styles */

.text-muted {
  @apply text-neutral-600
}

.inline-link {
  @apply underline underline-offset-2 decoration-neutral-500 transition-all hover:text-neutral-500;
}

/* Animations */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.5s ease-out forwards;
  opacity: 0;
}
